.main-useform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 460px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    
  }
  