.main-dashboard{

    width: 100%;
   
    max-width: 1600px;
    margin: auto;

    .main-category{
       
    height: 100px;
    background: white;
    display: flex;
    }
    .sub_category{
        margin: 0 40px;
    }
    .main_carasoal{
        margin-top: 20px;
    }
}