@import './auth.scss';
@import './category.scss';
@import './header.scss';
@import './dashbord.scss';
@import './product.scss';
@import './cartdetail.scss';

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    
    background-color: #f1f2f4


}