@import './auth.scss';
@import './category.scss';
@import './header.scss';
@import './dashbord.scss';

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 245, 245);


}